<div class="list view ligne clearfix" id="viewX" onclick="setActive">
    <!--  Affichage des mails correspondants à la requète  -->
    <div class="vue-header">
    <button title='Supprimer cette vue' class="deleter close">&times;</button>
    </div>
    <div class="list_mail">
        <table class='table table-striped table-hover'>
            <tbody class="rowlink">
                <!--LISTE DES MAILS ICI-->
            </tbody></table>
    </div>
</div>