<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
                <h5 class="modal-fromaddress">De : <span></span></h5>
                <h5 class="modal-toaddress">&Agrave; : <span></span></h5>
                <h5 class="modal-date">Le <span></span></h5>
            </div>
            <div class="modal-body">
            </div>
            <!--div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div-->
        </div>
    </div>
</div>