<form class="search_mail form-horizontal">
    <div class="form-group">
        <label for="expediteur">Expéditeur</label>
        <input type="text" name="expediteur" class="form-control" id="expediteur" placeholder="email">
    </div>
    <div class="form-group">
        <label for="since">Depuis le : </label>
        <input type="date" name="since" class="form-control" id="since">
    </div>
    <div class="form-group">
        <label for="until">Jusqu'au : </label>
        <input type="date" name="until" class="form-control" id="until">
    </div>
    <div class="form-group text-center">
        <input type="checkbox" id="unseen" name="unseen" value="true">                    
        <label for="unseen" >
            Non lu uniquement
        </label>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-default">Recherche</button>
    </div>
</form>