.deleter{
    font-size: 50px;
}
.close-col{
    font-size: 40px;
    line-height: 50px;
}
.vue-header,
.col-header{
    height: 50px;
}
.view-table{
    display:table;
    width:100%;
}
.colonne{
    display: table-cell;
}
#lists_container{
    display:table-row;
}
#list-requests tr{
    cursor: pointer;
}
.lists_container{
    width:100%;
}
.ligne{
    border-left : 2px solid #AAA;
    border-right : 2px solid #AAA;
    border-top : 2px solid #AAA;
    border-bottom : 2px solid #AAA;
}
.active-view{
    border : 3px solid #008cba;
}
.view{
    padding: 5px;
}
body {
    padding-top: 70px;
}
.badge{
    margin-left: 10px;
}

tr.unseen{
    font-weight: bold;
}

.row{
    margin-bottom: 20px;
}
.rowlink{
    cursor: pointer;
}
.navbar-logo{
    float: left;
    height: 35px;
    margin: 5px 20px;
}
.navbar ul li a{
    cursor: pointer;
}
.menu-recu{
    width: 110px;
}
.loading_mails{
    margin: auto;
    padding: 50px 0px 100px 0px;
    display: block;
    float: top;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 45px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 5px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a {
    color: #fff;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}